<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>


	<filter>
		<filter-name>filter1</filter-name>
		<filter-class>edu.home.app5.Filter1</filter-class>
	</filter>
	
	<filter>
		<filter-name>filter2</filter-name>
		<filter-class>edu.home.app5.Filter2</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>filter1</filter-name>
		<url-pattern>/successservlet</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>filter2</filter-name>
		<url-pattern>/successservlet</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>servlet1</servlet-name>
		<servlet-class>edu.home.app1.ServletLifeCycle</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>servlet2</servlet-name>
		<servlet-class>edu.home.app2.ServletApp2</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>servlet3</servlet-name>
		<servlet-class>edu.home.app3.ServletCommunication</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>servlet4</servlet-name>
		<servlet-class>edu.home.app3.ServletNetSalary</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>servlet5</servlet-name>
		<servlet-class>edu.home.app3.ServletRD</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>servlet6</servlet-name>
		<servlet-class>edu.home.app3.ServletRD2</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>servlet7</servlet-name>
		<servlet-class>edu.home.app4.ServletInit</servlet-class>
		<init-param>
			<param-name>aa</param-name>
			<param-value>apple</param-value>
		</init-param>
		<init-param>
			<param-name>bb</param-name>
			<param-value>ball</param-value>
		</init-param>
		<load-on-startup>7</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>servlet8</servlet-name>
		<servlet-class>edu.home.app5.ServletFilter</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet9</servlet-name>
		<servlet-class>edu.home.app6.SessionServlet1</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet10</servlet-name>
		<servlet-class>edu.home.app6.SessionServlet2</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet11</servlet-name>
		<servlet-class>edu.home.app6.SessionServlet3</servlet-class>
		<load-on-startup>11</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet12</servlet-name>
		<servlet-class>edu.home.app7.UrlServlet1</servlet-class>
		<load-on-startup>12</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet13</servlet-name>
		<servlet-class>edu.home.app7.UrlServlet2</servlet-class>
		<load-on-startup>13</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet14</servlet-name>
		<servlet-class>edu.home.app7.UrlServlet3</servlet-class>
		<load-on-startup>14</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet15</servlet-name>
		<servlet-class>edu.home.app8.CookieServlet1</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet16</servlet-name>
		<servlet-class>edu.home.app8.CookieServlet2</servlet-class>
		<load-on-startup>16</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet17</servlet-name>
		<servlet-class>edu.home.app8.CookieServlet3</servlet-class>
		<load-on-startup>17</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet18</servlet-name>
		<servlet-class>edu.home.app9.HiddenServlet1</servlet-class>
		<load-on-startup>18</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet19</servlet-name>
		<servlet-class>edu.home.app9.HiddenServlet2</servlet-class>
		<load-on-startup>19</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>servlet20</servlet-name>
		<servlet-class>edu.home.app9.HiddenServlet3</servlet-class>
		<load-on-startup>20</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>servlet1</servlet-name>
		<url-pattern>/app1</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>servlet2</servlet-name>
		<url-pattern>/app2</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>servlet3</servlet-name>
		<url-pattern>/app3</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>servlet4</servlet-name>
		<url-pattern>/net</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>servlet5</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>servlet6</servlet-name>
		<url-pattern>/success</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>servlet7</servlet-name>
		<url-pattern>/app4</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet8</servlet-name>
		<url-pattern>/successservlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet9</servlet-name>
		<url-pattern>/sessionservlet1</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet10</servlet-name>
		<url-pattern>/sessionservlet2</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet11</servlet-name>
		<url-pattern>/sessionservlet3</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet12</servlet-name>
		<url-pattern>/urlservlet1</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet13</servlet-name>
		<url-pattern>/urlservlet2</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet14</servlet-name>
		<url-pattern>/urlservlet3</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet15</servlet-name>
		<url-pattern>/cookieservlet1</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet16</servlet-name>
		<url-pattern>/cookieservlet2</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet17</servlet-name>
		<url-pattern>/cookieservlet3</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet18</servlet-name>
		<url-pattern>/hiddenservlet1</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet19</servlet-name>
		<url-pattern>/hiddenservlet2</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>servlet20</servlet-name>
		<url-pattern>/hiddenservlet3</url-pattern>
	</servlet-mapping>

</web-app>
